.coursecard{
    height: 25rem;
    width: 15rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 2rem;
    margin: auto;
    margin-top: 4rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}